/*
====================================================
primefaces
====================================================
*/
.enterHeaderCls {
	font-family: Times New Roman !important;
	font-size: 50px !important;
}

.clas1 {
	padding: 5%;
	font-size: 25px !important;
}

.clas2 {
	padding: 5%;
}